@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(8, 8, 75);
  color: white;
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 159);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(109, 109, 233);
}

main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}

nav .left {
  font-size: 25px;
}

.first {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  align-items: center;
}

.first > div {
  width: 30%;
}

.leftsection {
  font-size: 2.5rem;
  margin: 30px;
}

.rightsection img {
  width: 80%;
  margin: 80px 0px;
}

.purple {
  color: rgb(223, 48, 223);
}

#element {
  color: rgb(223, 48, 223);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1 {
  font-size: 1.9 rem;
}

.text-gray{
    color: grey;
}

.secondSection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.text-title{
    position: relative;
    top: 75px;
    width: 150px;
}

.text-desc{
    position: relative;
    top: 86px;
    color: grey;
    width: 150px;
    font-size: 9px;
}

footer{
    background-color: rgba(42, 34, 42, 0.808);
    height: 230px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 23px 122px;
}

.footer ul{
    list-style: none;
}

.footer > div{
    width: 223px;
}